

$blue : #1881ED;
$white : #fff;
$orangePrimary : #ff1200;
$orangeSecondary : #ff5600;
$yellowPrimary : #ffb22a;
$yellowSecondary : #ffd18b;

$brownPrimary : #9a4916;
$brownSecondary : #d66823;

$green : #00aa00