
.custom-select{
    label{
        font-size: 15px;
        font-weight: bold;
    }
    select{
        margin-top: 0.5em;
    }
}

input.red-color{
    color: $orangePrimary;
}
input.green-color{
    color: $green;
}
input.blue-color{
    color: $blue;
}